/***-------- Variables --------***/
@import 'variables';

/***---------- Modal ----------***/
.modal-main {
    position: fixed;
    background: #000000bf;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal-container {
    background: var(--color-body);
    width: 40%;
    margin: 0 auto;
    border-radius: 0.25rem;
}

.modal-title {
    font-size: var(--font-h3);
    font-weight: 600;
    padding: 1.25rem;
}

.modal-content {
    background: var(--color-body);
    border: none !important;
}

.modal-content,
.modal-detail {
    display: grid;
}

.modal-detail {
    padding: 1rem;
    row-gap: 1rem;
}

.modal-item {
    padding: 1rem;
    background: var(--color-white);
    display: flex;
    align-items: center;
    border-radius: 0.25rem;

    h5,
    span {
        font-size: var(--font-small);
    }

    h5 {
        margin-bottom: 0;
        width: 60px;
        color: var(--color-dark);
        font-weight: 600;
    }

    span {
        color: var(--color-text);
    }
}
