<mat-nav-list>
    <div class="brand py-4">
        <i class='bx bxs-dollar-circle'></i>
        <span>AMFinances</span>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Aplicações</h2>

    <a mat-list-item routerLinkActive="item-active" routerLink="/painel/home">
        <i class='bx bxs-dashboard'></i>
        Home
    </a>

    <a mat-list-item routerLinkActive="item-active" routerLink="/painel/conta">
        <i class='bx bx-money'></i>
        Conta
    </a>
</mat-nav-list>
