/***-------- Variables --------***/
@import 'variables';

/***---------- Modal ----------***/
.modal-main {
    position: fixed;
    background: #000000bf;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal-container {
    background: var(--color-body);
    width: 40%;
    margin: 0 auto;
    border-radius: 0.25rem;
}

.modal-title {
    font-size: var(--font-h3);
    font-weight: 600;
    padding: 1.25rem;
}

.modal-content {
    background: var(--color-body);
    border: none !important;
}

.modal-form {
    width: 100%;
    padding: 1rem 1.5rem;

    .form-box {
        padding: 1.125rem 1rem;
        background-color: var(--color-white);
        margin-top: 1rem;
        border-radius: 0.25rem;
        border: 2px solid rgba(244, 243, 245, 0.2);

        .form-input {
            width: 100%;
            font-size: var(--font-normal);
            font-weight: 500;
            color: var(--color-title);

            &::placeholder {
                font-size: var(--font-normal);
                color: var(--color-text);
            }
        }
    }
}
