<mat-card-content class="content">
    <div class="transaction" id="transaction">
        <button class="button bg-green mr-3" (click)="openModalDeposit()">
            Depósito
        </button>

        <button class="button bg-red" (click)="openModalWithdraw()">
            Saque
        </button>

        <table class="mt-4" id="data-table">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Valor</th>
                    <th>Tipo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody *ngIf="balance">
                <tr *ngFor="let b of balance">
                    <td>{{ b.title }}</td>
                    <td>R$ {{ b.amount }}</td>
                    <td>{{ b.type | titlecase }}</td>
                    <td>
                        <button class="mr-3 btn-details" (click)="openModalDetail(b)">
                            <i class='bx bx-info-circle'></i> Detalhes
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</mat-card-content>
